<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
          <h3>En esta sección podrás anexar las infografías de esta sección.</h3>

          <div class="row mt-5">
            <div class="col">
              <h5>Agrega imagen que deseas subir para la infografía</h5>
              <input class="form-control" type="file" name="" id="">
            </div>
            <div class="col">
              <h5>¿Deseas agregar un título sobre esta infografía?</h5>
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>


          <div class="row d-flex justify-content-end mt-3">
            <button class="btn btn-primary mb-3" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>