<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
          <div class="row justify-content-center">
            <div class="row justify-content-center ">
                <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row mt-5" type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                        #GeneraciónProdeli
                    </ng-template>
                    <ng-template ngbTabContent class="mt-5">
                      <h3 class="mt-5">Personaliza esta sección con las imágenes que deseas subir</h3>
                      <div class="container border mt-5 py-2 mb-3">
                        <div class="mb-3">
                          <h5>Agrega las imágenes que deseas subir</h5>
                          <input class="form-control" [(ngModel)]="fileProdeli" type="file" name="" id="">
                        </div>
                        <div class="mb-3">
                          <h5>Agrega el título del apartado</h5>
                          <input class="form-control" [(ngModel)]="titleProdeli" type="text" name="" id="">
                        </div>
                        <div class="mb-3">
                          <h5>Agrega la descripción</h5>
                          <textarea class="form-control" [(ngModel)]="textProdeli" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="row d-flex justify-content-end mb-3">
                          <button (click)="guardarProdeli()" class="btn btn-primary mr-1" type="submit">Guardar</button>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      #HistoriaDeÉxito
                    </ng-template>
                    <ng-template ngbTabContent class="mt-5">
                      <h3 class="mt-5">Agrega la información del empleado para administrar esta sección</h3>
                      <div class="container border py-2 mb-2 mt-5">
                        <div class="mb-3">
                          <h5>Agrega aquí la imagen del empleado</h5>
                          <input class="form-control" type="file" name="" id="">
                        </div>
                        <div class="mb-3">
                          <h5>Agrega aquí el texto que deseas añadir para esta sección</h5>
                          <textarea class="form-control" rows="10"></textarea>
                        </div>      
                        <div class="row d-flex justify-content-end mr-1">
                          <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
          </div>
      </div>
    </div>
</div>