<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
          En esta sección podrás anexar un directorio.

          <div class="row mt-5">
            <div class="col">
              <h5>Especialista</h5>
              <input class="col-8"  type="text" name="" id="">
            </div>
            <div class="col">
              <h5>Hospital</h5>
              <input class="col-8" type="text" name="" id="">
            </div>
            <div class="col">
                <h5>Costo de la consulta</h5>
                <input type="text" name="" id="">
              </div>
          </div>


          <div class="row d-flex justify-content-end">
            <button class="btn btn-outline" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>