<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
          En esta sección podrás configurar cada una de las vacantes.

          <div class="row mt-5">
            <div class="col">
              <h5>Agrega las imágenes que deseas subir</h5>
              <input type="file" name="" id="">
            </div>
            <div class="col">
              <h5>Título de la vacante</h5>
              <input type="text" name="" id="">
            </div>

            <div class="col">
              <h5>Anexa aquí toda la información necesaria para esta vacante</h5>
              <textarea name="" id="" cols="50" rows="10"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>