<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container mt-5 mb-3 ">
          <h3 class="text-center mt-5">En esta sección podrás configurar cada una de las vacantes.</h3>

          <div class="mt-5 py-2 mb-3 container">
            <div class="mb-3">
              <h5>Agrega las imágenes que deseas subir</h5>
              <input type="file" class="form-control" id="" name="">
            </div>
            <div class="mb-3">
              <h5>Título de la vacante</h5>
              <input type="text" class="form-control" id="" name="">
            </div>
            <div class="mb-3">
              <h5>Anexa aquí toda la información necesaria para esta vacante</h5>
              <textarea class="form-control" name="" id="" cols="50" rows="10"></textarea>
            </div>
            <div class="row d-flex justify-content-end mr-1 mb-3">
              <button class="btn btn-primary mr-1" type="submit">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>