<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
        <div class="container header-body bg-white">
            <div class="container ">
                <h3> En esta sección anexarás los contactos que deseas mostrar en la aplicación.</h3>
                <div class="row mt-5">
                    <div class="col">
                        <h5>Agrega la imagen del avatar de la persona </h5>
                        <input class="form-control" type="file" name="" id="">
                    </div>
                    <div class="col">
                        <h5>Agrega el nombre de la persona</h5>
                        <input class="form-control" type="text" name="" id="">
                    </div>

                    <div class="col">
                        <h5>Agrega el número telefónico a donde se podrán contactar</h5>
                        <input class="form-control" type="text" name="" id="">
                    </div>
                </div>
                <div class="row d-flex justify-content-end mt-3">
                    <button class="btn btn-primary mb-3" type="submit">Guardar</button>
                </div>
            </div>
        </div>

        <div class="container header-body bg-white mt-5">
            <h3> Agrega la información necesaria para que las personas puedan contactarse en la línea COVID</h3>

            <div class="row mt-5">
                <div class="col">
                    <h5>Agrega la imagen de la información </h5>
                    <input class="form-control" type="file" name="" id="">
                </div>
                <div class="col">
                    <h5>Agrega el número telefónico a donde se podrán contactar</h5>
                    <h5>*Esto podrá hacer que las personas tengan una línea directa y hacer una marcación rápida
                    </h5>
                    <input class="form-control" type="text" name="" id="">
                </div>
            </div>

            <div class="row d-flex justify-content-end mt-3 mr-1">
                <button class="btn btn-primary mb-3" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>