<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid ">
    <div class="container header-body bg-white">
      <div class="container ">

        <h3 class="mt-5">Personaliza esta sección con la información que deseas subir</h3>
        <div class="container mt-5">
          <div class="row">
            <div class="col">
              <h5>Agrega el título</h5>
              <input class="col-12" type="text" name="" id="">

              <h5 class="mt-3">Agrega la url de acceso</h5>
              <input class="col-12" type="text" name="" id="">
            </div>
            <div class="col">
              <h5>Agrega una breve descripción</h5>
              <textarea name="" id="" cols="50" rows="10"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h5>¿Tienes alguna imagen? Agregala</h5>
              <input type="file" name="" id="">
            </div>
          </div>

          <div class="row d-flex justify-content-end">
            <button class="btn btn-outline" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>