<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid ">
    <div class="container header-body bg-white">
      <div class="container ">



        <div class="row justify-content-center ">
          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row mt-5" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                Cumpleaños del mes
              </ng-template>
              <ng-template ngbTabContent class="mt-5">
                <h3 class="mt-5">Personaliza el mensaje de cumpleaños que se enviará a los empleados</h3>
                <div class="container mt-5">
                  <div class="row">
                    <div class="col">
                      <h5>Agrega aquí el vídeo que deseas enviar</h5>
                      <input type="file" name="" id="">
                    </div>
                    <div class="col">
                      <h5>Agrega aquí el texto que deseas enviar en el mensaje de cumpleaños</h5>
                      <textarea name="" id="" cols="50" rows="10"></textarea>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-end">
                    <button class="btn btn-outline" type="submit">Guardar</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                #ElMejorEquipo
              </ng-template>
              <ng-template ngbTabContent class="mt-5">
                <h3 class="mt-5">Personaliza esta sección</h3>
                <div class="container mt-5">
                  <div class="row">
                    <div class="col">
                      <h5>Agrega aquí la imagen del equipo</h5>
                      <input type="file" name="" id="">
                    </div>
                    <div class="col">
                      <h5>Agrega aquí el texto que deseas añadir para esta sección</h5>
                      <textarea name="" id="" cols="50" rows="10"></textarea>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-end">
                    <button class="btn btn-outline" type="submit">Guardar</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                #PremioALaExcelencia
              </ng-template>
              <ng-template ngbTabContent class="mt-5">
                <h3 class="mt-5">Personaliza esta sección - En esta sección podrás colocar una imagen y una descripción
                  de aquellas personas destacadas</h3>

                  <div class="container mt-5 border p-3">
                    <h5>Agrega la información requerida para esta sección</h5>
                    <form>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="">Imagen de referencia: </label>
                            <input class="form-control" type="file" name="" id=""> 
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="">Nombre del empleado: </label>
                            <input class="form-control" type="text" name="" id="">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="">Descripción: </label>
                            <textarea class="form-control" name="" id="" cols="50" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-outline-dark">Guardar</button>
                    </div>
                  </div>
                  <div class="container mt-5">
                    <div class="row">
                      <div class="col">
                        <h4>Imagen</h4>
                      </div>
                      <div class="col">
                        <h4>Nombre</h4>
                      </div>
                      <div class="col">
                        <h4>Información</h4>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3" *ngFor="let dato of datos">
                    <div class="col">
                      <img src="{{dato.imagen}}" alt="">
                    </div>
                    <div class="col">
                      <h4>{{dato.nombre}} del empleado</h4>
                    </div>
                    <div class="col">
                      <h4>{{dato.descripcion}}</h4>
                    </div>
                    <div class="col-auto">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                          <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                        </div>
                      </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>

    </div>
  </div>
</div>