<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
            <div class="row justify-content-center ">
                <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row mt-5" type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                         Cumpleaños del mes
                      </ng-template>
                        <ng-template ngbTabContent class="mt-5">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                  <thead class="thead-light">
                                    
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">
                                        <div class="media text-center align-items-center">
                                            ZONA
                                        </div>
                                      </th>
                                      <td>
                                        Área
                                      </td>
                                      <td>
                                        <span class="badge badge-dot mr-4">
                                          <i class="bg-success"></i> activo
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                                          </a>
                                         
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                          Fecha de Cumpleaños
                                        </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="bottom-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Ver perfil</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media text-center align-items-center">
                                                ZONA
                                            </div>
                                        </div>
                                      </th>
                                      <td>
                                        Área
                                      </td>
                                      <td>
                                        <span class="badge badge-dot">
                                          <i class="bg-success"></i> activo
                                        </span>
                                      </td>
                                      <td>
                                        <div class="avatar-group">
                                         
                                          <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                                          </a>
                                         
                                        </div>
                                      </td>
                                      <td>
                                        <div class="d-flex align-items-center">
                                            Fecha de Cumpleaños
                                          </div>
                                      </td>
                                      <td class="text-right">
                                        <div ngbDropdown placement="bottom-right">
                                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Ver perfil</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        #El mejor equipo
                      </ng-template>
                        <ng-template ngbTabContent class="mt-5">
                            <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                          Premio a la excelencia
                      </ng-template>
                        <ng-template ngbTabContent class="mt-5">
                            <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
          </div>
          
      </div>
    </div>
  </div>