<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
          <h3>Puedes elegir si deseas subir un vídeo de YouTube o un vídeo desde los archivos de tu computadora.</h3>
          <div class="mb-3">
            <div class="row mt-5">
              <div class="col">
                <h5>Agrega el título de este vídeo</h5>
                <input class="form-control" type="text" name="" id="">
              </div>
              <div class="col">
                <h5>Agrega la liga del vídeo</h5>
                <input class="form-control" type="text" name="" id="">
              </div>
              <div class="col">
                <h5>Si lo tienes, puedes agregar un vídeo desde los archivos de tu computadora</h5>
                <input type="file" name="" id="">
              </div>
            </div>
            <div class="row d-flex justify-content-end mt-3 mb-3">
              <button class="btn btn-primary mb-3" type="submit">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>