<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid ">
      <div class="container header-body bg-white">
        <div class="container ">
          En esta sección anexarás los contactos que deseas mostrar en la aplicación.

          <div class="row mt-5">
            <div class="col">
              <h5>Agrega la imagen del avatar de la persona </h5>
              <input type="file" name="" id="">
            </div>
            <div class="col">
              <h5>Agrega el nombre de la persona</h5>
              <input class="col-8" type="text" name="" id="">
            </div>

            <div class="col">
                <h5>Agrega el número telefónico a donde se podrán contactar</h5>
                <input class="col-8" type="text" name="" id="">
              </div>
          </div>


          <div class="row d-flex justify-content-end">
            <button class="btn btn-outline" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>